@model List<AppDeve.Models.ApplicationUser>
@{
    ViewBag.Title = "TrainerView";
}

<h2>TrainerView</h2>
@Html.ActionLink("Create a new account", "Register", "Account", null, new { @class = "btn btn-default" })
<table style="width:100%;border:2px solid black">
    <tr style="border: 2px solid black">
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th></th>
    </tr>
    @foreach (var k1 in Model)
    {
        <tr style="border: 2px solid black">
            <td style="border: 2px solid black;text-align:center">@k1.Id</td>
            <td style="border: 2px solid black;text-align:center">@k1.UserName</td>
            <td style="border: 2px solid black;text-align: center">@k1.PasswordHash</td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Admin",
                       new { id = k1.Id },
                       new { @class = "btn btn-default" })
            </td>
        </tr>

    }
</table>

